body {
    background-image: url(./img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    border: 3px black solid;
    width: 30rem;
    font-size: 24px;
    font-weight: solid;
}

.container, li {
    text-decoration: none;
    background-color: grey;
   //opacity:0.8;
    width: auto;
    color:white;
}

img {
width: 10rem;
}

#toystory {
    background-image: url(./img/toystory.jpeg);
    background-size: cover;
    height: 700px;
    display:flex;
    justify-content: center;
}
#avengers{
    background-image: url(./img/avengers.jpeg);
    background-size: cover;
    height: 700px;
}
#parasite {
    background-image: url(./img/parasite.jpg);
    background-size: cover;
    height: 700px;
}
#starwars{
    background-image: url(./img/starwars.jpeg);
    background-size: cover;
    height: 700px;
    
}
#joker{
    background-image: url(./img/joker.jpeg);
    background-size: cover;
    height: 700px;
}

#navmenu a:hover {
    background-color: #DCFFFF;
    color:#000066;
}
#navmenu a:active {
    background-color: #DCFFFF;
    color:#0659a7;
}
#navmenu a:focus {
    background-color: #DCFFFF;
    color:#06e6e6c0;
}